@model DataAccess.Core.Entities.Case

<div class="casesdet">
    <h2>Details</h2>

    <h4>For Case model "@Html.DisplayFor(model => model.Model)"</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Company")
        </dt>

        <div id="zoom">
            <img id="img" width="200" src="~/img/@Url.Content(Model.Thumbnail)" style="margin-left:20%; position:absolute;" />
        </div>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfFans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfFans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

@section Scripts
{
    <script src="~/Scripts/Zoom.js"></script>
}