<link href="~/Content/StyleSheetBabis.css"  rel="stylesheet" />


<div class="container">
<div class="containers" styles="margin: 0 auto;">
    <div class="row">
        <div class="col-md-4 card card1">
            <div class="imgBx">
                <img src="~/img/ryzen-chip-1.png">
            </div>
            <div class="contentBx">
                <br />
                <h2>CPU</h2> 
                <br />
                <a href="@Url.Action("Index", "CPUs")">View All</a>
            </div>
        </div>
        <div class="col-md-4 card card2">
            <div class="imgBx">
                <img src="~/img/mobopng.png">
            </div>
            <div class="contentBx">
                <br />
                <h2>Motherboards</h2>
                <br />
                <a href="@Url.Action("Index", "Motherboards")">View All</a>
            </div>
        </div>
        <div class="col-md-4 card card3" >
            <div class="imgBx">
                <img src="~/img/casepng.png">
            </div>
            <div class="contentBx">
                <br />
                <h2>Cases</h2>
                <br />
                <a href="@Url.Action("Index", "Cases")">View All</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 card card4">
            <div class="imgBx">
                <img src="~/img/rampng.png">
            </div>
            <div class="contentBx">
                <br />
                <h2>RAM</h2>
                <br />
                <a href="@Url.Action("Index", "RAMs")">View All</a>
            </div>
        </div>
        <div class="col-md-4 card card5">
            <div class="imgBx">
                <img src="~/img/ssdpng.png">
            </div>
            <div class="contentBx">
                <br />
                <h2>Storage</h2>
                <br />
                <a href="@Url.Action("Index", "Storages")">View All</a>
            </div>
        </div>
        <div class="col-md-4 card card6">
            <div class="imgBx">
                <img src="~/img/psupng.png">
            </div>
            <div class="contentBx">
                <br />
                <h2>PSU</h2>
                <br />
                <a href="@Url.Action("Index", "PSUs")">View All</a>
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-4 card card7" style="margin-left: 31%;">
            <div class="imgBx">
                <img src="~/img/graphics_card_tp.png">
            </div>
            <div class="contentBx">
                <br />
                <h2>GPU</h2>
                <br />
                <a href="@Url.Action("Index", "GPUs")">View All</a>
            </div>
        </div>
    </div>
    </div>
</div>




 

