@model IEnumerable<DataAccess.Core.Entities.GPU>

<div class="gpusindex">
    <h2>GPUs</h2>

    <table class="table">
        <tr>
            <th>
                @Html.Label("Images")
            </th>
            <th>
                @Html.DisplayName("Company")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chipset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Watt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img width="40" src="~/img/@Url.Content(item.Thumbnail)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chipset)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Watt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vram)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>