<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pc Builder</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/admin-css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/admin-css/adminlte.min.css">
    @*Bootstrap Icons*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            @*<a href="#" class="brand-link">
                    <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">Your Brand</span>
                </a>*@

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->

                        <li class="nav-item">
                            <a href="@Url.Action("Index","Home", new { area = ""})" class="nav-link">
                                <i class="nav-icon bi bi-house-door-fill"></i>
                                <p>
                                    Home
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index","Cases")" class="nav-link">
                                <i class="nav-icon bi bi-pc"></i>
                                <p>
                                    Cases
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index","Cpus")" class="nav-link">
                                <i class="nav-icon bi bi-cpu"></i>
                                <p>
                                    CPUs
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index","Games")" class="nav-link">
                                <i class="nav-icon bi bi-controller"></i>
                                <p>
                                    Games
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index","Gpus")" class="nav-link">
                                <i class="nav-icon bi bi-gpu-card"></i>
                                <p>
                                    GPUs
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index","Motherboards")" class="nav-link">
                                <i class="nav-icon bi bi-motherboard"></i>
                                <p>
                                    Motherboards
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index","Psus")" class="nav-link">
                                <i class="nav-icon fas fa-plug"></i>
                                <p>
                                    PSUs
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index","Rams")" class="nav-link">
                                <i class="nav-icon fas fa-memory"></i>
                                <p>
                                    RAMs
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index","Storages")" class="nav-link">
                                <i class="nav-icon far fa-hdd"></i>
                                <p>
                                    Storages
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index","SuggestedBuilds")" class="nav-link">
                                <i class="nav-icon bi bi-exclamation-triangle"></i>
                                <p>
                                    Suggested Builds
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index","Companies")" class="nav-link">
                                <i class="nav-icon fas fa-building"></i>
                                <p>
                                    Companies
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index","Categories")" class="nav-link">
                                <i class="nav-icon bi bi-bookmarks-fill"></i>
                                <p>
                                    Categories
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("ManageUsers","Roles")" class="nav-link">
                                <i class="nav-icon bi bi-person-bounding-box"></i>
                                <p>
                                    Users Managment
                                </p>
                            </a>
                        </li>

                        <li class="nav-header">Users</li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Builds", new { area = ""})" class="nav-link">
                                <i class="nav-icon bi bi-people"></i>
                                <p>Users Builds</p>
                            </a>
                        </li>
                        @*<li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-file"></i>
                                    <p>Documentation</p>
                                </a>
                            </li>

                            <li class="nav-header">MULTI LEVEL EXAMPLE</li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-circle nav-icon"></i>
                                    <p>Level 1</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-circle nav-icon"></i>
                                    <p>Level 1</p>
                                </a>*@
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            @*<h1 class="m-0">Dashboard</h1>*@
                        </div><!-- /.col -->
                        <!--<div class="col-sm-12">
                            <div class="float-sm-right">Logout</div>
                        </div>-->
                        <!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    @RenderBody()
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
            <footer class="main-footer" style="text-align: center;">
                <strong>Copyright &copy; 2021 - @DateTime.Now.Year Delegays.</strong>
                All rights reserved.
                <div class="float-right d-none d-sm-inline-block">
                    <b>Version</b> 1.0.0
                </div>
            </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/admin-scripts/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Scripts/admin-scripts/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/admin-scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
