@model DataAccess.Core.Entities.Donate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Donator.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donator.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fund)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
