@model DataAccess.Core.Entities.SuggestedBuild

<h2>Details</h2>

<div>
    <h4>For "@Html.DisplayFor(model => model.Name)" Build</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.LabelFor(model => model.Name, "Build Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Category.Name, "Category")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Case.Model, "Case Model")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Case.Model)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CPU.Model, "CPU Model")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU.Model)
        </dd>

        <dt>
            @Html.LabelFor(model => model.GPU.Model, "GPU Model")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPU.Model)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Motherboard.Model, "Motherboard Model")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motherboard.Socket)
        </dd>

        <dt>
            @Html.LabelFor(model => model.PSU.Model, "PSU Model")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PSU.Model)
        </dd>

        <dt>
            @Html.LabelFor(model => model.RAM.Model, "RAM Model")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAM.Model)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Storage.Model, "Storage Model")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Storage.Model)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Price, "Price")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <p>
        
        @Html.ActionLink("Back to List", "Index")
    </p>
}

